body{
    background: #000000;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    background-color: #000000;}
    
.logo {
  background-image: url('LOGO.png');
  font-size: 30px;
  position: fixed;
  display: inline-block;
  margin-left: 35px;
 
}

.logo img {
  width: 160px; /* Adjust the width and height as desired */
  height: 160px;
 
  
}

.menu {
  position: absolute;
  top: 57px;
  right: 50px;
  font-size: 30px;
  
}
.menu a{
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 40px;
  transition: color 0.3s;
}
.menu a:hover {
  color: #4699e7; /* Set the color for the menu buttons when hovering */
}


.faq-container {
    max-width: 600px;
    margin: 20px;
    float: left;
    width: 50%;
    margin-left: 200px;

    text-align: center;
    
    
    
  }
  
  .faq-item {
    margin-bottom: 20px;
    
  }
  
  .question {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    font-family: "Quicksand", sans-serif;
    color: rgba(255, 255, 255, 0.705);
    border-bottom: 1px solid #fff;
   
  }
  
  .question:hover {
    color: rgba(25, 118, 240, 0.918);
    font-size: 32px;

  }
  
  .answer {
    font-size: 20px;
    display: none;
    color: #ffffff;
    transition: max-height 0.3s ease-out;
    font-family: "Quicksand", sans-serif;
    line-height: 1.7;
    animation: fade 1s ease-in-out;
  }
  
  .faq-item.open .answer {
    display: block;
  }

  .box {
    margin-top: 50px;
    display: table;
    clear: both;
    background-image: url('questions.jpg');
    background-position: 10% 80%;
    width: 100%;
    
  }
  
  @keyframes fade{
    from{
      opacity: 0;
      transform: translateY(-10px);
    } to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
