

body{
    background: #000000;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    background-color: #ffffffcc;}
    
.logo {
  background-image: url('file:///C:/Users/iow16/OneDrive/Documentos/APlaline.mx/imagenes/LOGO.png');
  font-size: 30px;
  position: fixed;
  display: inline-block;
  margin-left: 35px;
 
}

.logo img {
  width: 160px; /* Adjust the width and height as desired */
  height: 160px;
 
  
}

.menu {
  position: absolute;
  top: 57px;
  right: 50px;
  font-size: 30px;
  
}
.menu a{
  color: #000000;
  text-decoration: none;
  margin-right: 40px;
  transition: color 0.3s;
}
.menu a:hover {
  color: #4699e7; /* Set the color for the menu buttons when hovering */
}



.contact-form {
  margin-top: 200px;
    background-image: url('file:///C:/Users/iow16/OneDrive/Documentos/APlaline.mx/imagenes/contact.jpg');
    background-size: cover;
    padding: 50px;
    background-position: 0% 30%;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;

    padding: 30px;
    border-radius: 5px;
    
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffff;
    
  }
  
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    background-color: #ffffff52;
   
  }
  
  input[type="submit"] {
    background-color: #1741fc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0062cc;
  }
  input {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }